/Projects/Day01UniversalArrays/target/
/Projects/Fibonacci/target/
/Projects/Fibonacci/nbproject/
/Projects/CustomArrayOfInts.java/target/
/Projects/Day05LinkedListArray/target/
/Projects/Day05LinkedListArray/nbproject/
/Projects/Day05LinkedListArray - Copy/nbproject/
/Projects/Day05LinkedListArray - Copy/target/
/Projects/Day05LinkedListArray - Backup -before changing junit/nbproject/
/Projects/Day05LinkedListArray - Backup -before changing junit/target/
/Projects/Day04CustomHashMap/target/
/Projects/SY-ADMIN/target/
/Projects/C11-Projects-FOR-MIDTERM/SLAY-STENCIL/target/
/Projects/C11-From-Grego-BitBucket/Day01CarsSorted/build/
/Projects/C11-From-Grego-BitBucket/Day01CarsSorted/nbproject/private/
/Projects/C11-From-Grego-BitBucket/Day01TeamMembers/build/
/Projects/C11-From-Grego-BitBucket/Day01TeamMembers/nbproject/private/
/Projects/C11-From-Grego-BitBucket/Day01UniversalArrays/nbproject/private/
/Projects/C11-From-Grego-BitBucket/Day04ArrayListOwnImpl/nbproject/private/
/Projects/C11-From-Grego-BitBucket/Day04CustomHashMap/nbproject/private/
/Projects/C11-From-Grego-BitBucket/Day05LinkedListArray/nbproject/private/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day01CarsSorted/build/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day01TeamMembers/build/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day01CarsSorted/nbproject/private/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day01TeamMembers/nbproject/private/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day01UniversalArrays/nbproject/private/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day04ArrayListOwnImpl/nbproject/private/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day04CustomHashMap/nbproject/private/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day05LinkedListArray/nbproject/private/
/Projects/C11-Projects-CURRENT/C11-Projects-FOR-MIDTERM/SLAY-STENCIL/target/
/Projects/C11-Projects-CURRENT/C11-Projects-FOR-MIDTERM/SY-ADMIN/target/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day01UniversalArrays/build/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day04ArrayListOwnImpl/build/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day04CustomHashMap/build/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day05LinkedListArray/build/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/OLD-Day4/Day04ArrayListOwnImpl/target/
/Projects/C11-Projects-CURRENT/C11-Projects-FOR-MIDTERM/MidtermPrepDataStructure1/target/
/Projects/C11-Projects-CURRENT/C11-Projects-FOR-MIDTERM/MidtermDSPriStackGen/nbproject/
/Projects/C11-Projects-CURRENT/C11-Projects-FOR-MIDTERM/MidtermDSPriStackGen/target/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day08DirectorySize/nbproject/private/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day09FirstFractal/nbproject/private/
/Projects/C11-Projects-CURRENT/C11-From-Grego-BitBucket/Day09FirstFractal/build/
/Projects/Day09FirstFractal/nbproject/private/
